{% if openid_request.idSelect() %}
    <p>The site <strong>{{ openid_request.trust_root }}</strong> wonders who you are.</p>
{% else %}
    <p>The site <strong>{{ openid_request.trust_root }}</strong> wants to confirm you are <strong>{{ openid_request.identity }}</strong>.</p>
{% endif %}

<form method="post" action="{{ url_for('allow') }}">
    <input type="hidden" name="token" value="{{ csrf_token }}">
    <input type="hidden" name="request_args" value="{{ openid_request.toURLEncoded() }}">
    {% if request.idSelect() %}
    <p><label>Identifier <input name="identifier"></label></p>
    {% endif %}
    <p><input type="submit" name="yes" value="Allow"></p>
    <p><input type="submit" name="no" value="Cancel"></p>
</form>
